/* RESET CSS */

*, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.container {
  min-height: 500px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* BACKGROUND */

.bg-image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: all 1000ms;
}

.preload * {
  animation-name: none !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}

.loader {
  opacity: 0;
  visibility: hidden;
  transition: all 1000ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.preload .bg-image {
  opacity: 0;
}

.preload .loader {
  opacity: 1;
}

.bg-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation-duration: 10s;
  transform-origin: center center;
  animation-fill-mode: forwards;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.intro {
  height: 100%;
  min-width: 50%;
  position: absolute;
  object-fit: contain;
  top: 0;
  opacity: 0;
  animation-duration: 2700ms;
}

.intro.right {
  right: 0;
  object-position: right;
  animation-name: slide-from-left, fade;
}

.intro.left {
  left: 0;
  object-position: left;
  animation-name: slide-from-right, fade;
}

#big-img-01 {
  animation-delay: 0ms;
}

#big-img-02 {
  animation-delay: 600ms;
}

#big-img-03 {
  animation-delay: 1200ms;
}

#big-img-04 {
  animation-delay: 1800ms;
}

#big-img-05 {
  animation-delay: 2400ms;
}

.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100%);
  animation-name: text-fade;
  animation-duration: 4500ms;
  animation-delay: 4800ms;
}

.text > * {
  opacity: 0;
  font-size: 3.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  text-align: center;
  animation-name: simple-fade;
  animation-duration: 5000ms;
}

#upper {
  animation-delay: 4800ms;
}
#lower {
  animation-delay: 5400ms;
}

.mosaic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: zoom-in, simple-fade;
  animation-duration: 2500ms;
  animation-delay: 8600ms;
  animation-fill-mode: forwards;
  transform-origin: center center;
}

.mosaic .row {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  height: calc(100%/8);
  animation-duration: 2500ms;
  animation-delay: 8600ms;
}

.mosaic .row.main {
  height: calc(100%/5);
}

.mosaic .row img {
  height: 100%;
  width: auto;
  opacity: 0;
}

.mosaic #row-1,
.mosaic #row-3,
.mosaic #row-5,
.mosaic #row-7 {
  animation-name: to-left;
}

.mosaic #row-2,
.mosaic #row-4,
.mosaic #row-6 {
  animation-name: to-right;
}

/* KEYFRAMES */

@keyframes to-right {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes to-left {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

/* @media (min-aspect-ratio: 16/9) {
  @keyframes zoom-in {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.7, 1.7);
    }
  }
}

@media (min-aspect-ratio: 21/9) {
  @keyframes zoom-in {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(2, 2);
    }
  }
} */

@keyframes text-fade {
  0% {
    opacity: .8;
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes simple-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-from-left {
  0% {
    transform: scale(1, 1) translateX(-20%);
  }
  80% {
    transform: scale(1.05, 1.05) translateX(5%);
  }
  100% {
    transform: scale(1.05, 1.05) translateX(5%);
  }
}

@keyframes slide-from-right {
  0% {
    transform: scale(1, 1) translateX(15%);
  }
  80% {
    transform: scale(1.05, 1.05) translateX(-10%);
  }
  100% {
    transform: scale(1.05, 1.05) translateX(-10%);
  }
}

@keyframes bg-anim {
  0% {
    transform: scale(1.15, 1.15);
  }
  25% {
    transform: scale(1.3, 1.3);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  50% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
  55% {
    transform: scale(1.3, 1.3);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
  85% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
  90% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  95% {
    transform: scale(1.15, 1.15);
  }
  100% {
    transform: scale(1.15, 1.15);
  }
}

/* BREAKPOINTS */

@media (max-width: 768px) {
  .intro.right.grandma {
    right: -10%;
  }
}

@media (max-width: 430px) {
  .intro.right.grandma {
    right: -25%;
  }
}