/* RESET CSS */

*, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.container {
  min-height: 500px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* BACKGROUND */

.bg-image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bg-image > img {
  height: 100%;
  width: 100%;
  animation-name: bg-anim;
  animation-duration: 10s;
  transform-origin: center center;
  animation-fill-mode: forwards;
}

.intro {
  height: 125%;
  min-width: 50%;
  position: absolute;
  object-fit: cover;
  top: 0;
  opacity: 0;
  animation-duration: 2700ms;
}

.intro.right {
  right: 0;
  object-position: right;
  animation-name: slide-from-left, fade;
}

.intro.left {
  left: 0;
  object-position: left;
  animation-name: slide-from-right, fade;
}

#big-img-01 {
  animation-delay: 0ms;
}

#big-img-02 {
  animation-delay: 600ms;
}

#big-img-03 {
  animation-delay: 1200ms;
}

#big-img-04 {
  animation-delay: 1800ms;
}

#big-img-05 {
  animation-delay: 2400ms;
}

.text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100%);
  animation-name: text-fade;
  animation-duration: 4500ms;
  animation-delay: 4800ms;
}

.text > * {
  opacity: 0;
  font-size: 2rem;
  text-align: center;
  animation-name: simple-fade;
  animation-duration: 5000ms;
}

#upper {
  animation-delay: 4800ms;
}
#lower {
  animation-delay: 5400ms;
}

.overboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation-name: zoom-in, simple-fade;
  animation-duration: 2500ms;
  animation-delay: 8600ms;
  animation-fill-mode: forwards;
  transform: scale(1.2, 1.2);
  z-index: 100;
}

.overboard .row {
  height: calc(100vh/7);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  animation-duration: 2500ms;
  animation-delay: 8600ms;
}

.overboard .row#main {
  background-size: auto;
}

.overboard .row > img {
  visibility: hidden;
  display: block;
  width: 100%;
}

.overboard #row-1 {
  background-image: url("../img/row01.png");
  animation-name: to-left;
}

.overboard #row-2 {
  background-image: url("../img/row02.png");
  animation-name: to-right;
}

.overboard #row-3 {
  background-image: url("../img/row03.png");
  animation-name: to-left;
}

.overboard #row-4 {
  background-image: url("../img/row04.png");
  animation-name: to-right;
}

.overboard #row-5 {
  background-image: url("../img/row05.png");
  animation-name: to-left;
}

.overboard #row-6 {
  background-image: url("../img/row06.png");
  animation-name: to-right;
}

.overboard #row-7 {
  background-image: url("../img/row07.png");
  animation-name: to-left;
}

/* KEYFRAMES */

@keyframes to-right {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes to-left {
  from {
    transform: translateX(5%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

@keyframes text-fade {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes simple-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-from-left {
  0% {
    transform: scale(1, 1) translateX(-20%);
  }
  80% {
    transform: scale(1.05, 1.05) translateX(5%);
  }
  100% {
    transform: scale(1.05, 1.05) translateX(5%);
  }
}

@keyframes slide-from-right {
  0% {
    transform: scale(1, 1) translateX(15%);
  }
  80% {
    transform: scale(1.05, 1.05) translateX(-10%);
  }
  100% {
    transform: scale(1.05, 1.05) translateX(-10%);
  }
}

@keyframes bg-anim {
  0% {
    transform: scale(1.05, 1.05);
  }
  25% {
    transform: scale(1.1, 1.1);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  50% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
  55% {
    transform: scale(1.1, 1.1);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
  85% {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
  90% {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  95% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}